<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag("logo.png", alt: "Rails logo", size: "40x40"), root_path %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Companies", companies_path %>
        </li>
        <li>
          <%= link_to "Account", edit_user_registration_path %>
        </li>
        <li>
          <%= link_to "Profile", profile_path %>
        </li>
        <% if can?(:access, :rails_admin) %>
          <li>
            <%= link_to "Admin", rails_admin_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
