<h1>List of companies</h1>
<%= link_to 'New Company', new_company_path, class: "btn btn-success btn-sm" %>
<div class="transitions-enabled" id="companies">
  <% @companies.each do |company| %>
    <div class="box panel panel-default">
      <h2>
        <%= link_to company.name, company %>
      </h2>
      <h4>
        <%= link_to company.state, company %>
      </h4>
      <p>
        <%= time_ago_in_words(company.created_at) %>
      </p>
      <div class="row">
          <div class="col-md-12">
            <div class="btn-group pull-right">
              <%= edit_button(edit_company_path(company)) %>
              <%= delete_button(company_path(company)) %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
